@model Aden.Web.ViewModels.SubmissionErrorDto
@Html.AntiForgeryToken()

<form id="form" name="form" role="form" enctype="multipart/form-data" action="/api/workitem/reporterror">

    <input type="hidden" name="id" id="id" value=@Model.Id />

    <p class="lead">
        @Model.DisplayFileName Submission
    </p>

    <div class="form-group">
        <label for="description" class="control-label">
            Error Description:
        </label>
        <textarea class="form-control" id="description" name="description"
                  required="required"
                  aria-required="true"
                  data-val-required="Description is required"
                  placeholder="Enter details here..."></textarea>

        <p class="" data-valmsg-for="description" data-valmsg-replace="true"></p>
    </div>

    <div class="form-group">
        <label for="errorFiles" class="control-label">
            Attach image files to report (must be png format):
            <input type="file" id="errorFiles" name="errorFiles"
                   multiple="multiple"
                   accept=".png"
                   aria-required="true"
                   data-val-required="File is required"
                   class="form-control" />
        </label>
        <p class="alert alert-warning hidden" data-valmsg-for="errorFiles" data-valmsg-replace="true"></p>
    </div>

</form>
