@model WorkItemUploadDto

@Html.AntiForgeryToken()
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div id="errorMessage"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <p class="lead">
                @Model.FileName Submission
            </p>
        </div>
    </div>

    <div class="row">
        <form role="form" name="form" id="form" enctype="multipart/form-data">

            @Html.HiddenFor(model => model.Id)

            <div class="col-md-12">
                <div class="form-group">
                    <label class="control-label" for="uploadFiles">Choose a file to upload (must be csv format)</label>
                    <input type="file" id="uploadFiles"
                           name="uploadFiles"
                           multiple="multiple"
                           class="form-control"
                           accept=".csv"
                           required="required"
                           aria-required="true"
                          
                           data-val-required="File is required" />
                    <p class="alert alert-warning hidden" data-valmsg-for="files" data-valmsg-replace="true"></p>
                </div>
            </div>
        </form>
    </div>

</div>