
@{
    ViewBag.Title = "About";
}

<div class="container-fluid">
    <header>

        <div class="page-header">
            <h1 class="text-center">ADEN Application</h1>
        </div>
        <h2 class="text-center">About Aden</h2>
    </header>

    <div class="row">
        <div class="col-md-8 col-md-offset-2">

            <section>

                <p>
                    <h3>What does it do?</h3>
                    This portal will allow authorized ALSDE personnel to manage processing CSPR file submissions
                    defined by the United States Department of Education.

                    Users of this application are able to participate in the work flow from generating CSPR data
                    files to the submission of the files to the EDEN system.


                </p>

                <p>
                    <h3>Who can use this application?</h3>
                    Only Authorized Users will be able to view this application on the AIM Application Portal.
                </p>

            </section>
        </div>
    </div>
</div>