@{
    ViewBag.Title = "Dashboard";
}

<style>
    tr.dx-row.dx-data-row.dx-column-lines.sucess {
        background-color: darkseagreen;
    }
</style>
<section>
    <div class="panel panel-primary">
        <div class="panel-heading">
            <div class="panel-title">
                <span>@ViewBag.Title</span>
            </div>
        </div>
        <div class="panel-body">
            <div id="pivotgrid-demo">
                <div id="pivotgrid-chart"></div>
                <div id="pivotgrid"></div>
            </div>
           
            <div id="detail-popup"></div>

        </div>
    </div>

</section>


@section scripts{

    <script src="~/js/app/dashboard.module.min.js?v=1.0.0"></script>

}
