@{
    ViewBag.Title = "Group Manager";
}

<section>

    <div class="panel panel-primary">
        <div class="panel-heading"><span class="panel-title">Group Manager</span></div>
        <div class="panel-body">
            <div class="col-md-3">
                <div class="panel-title">
                    Groups
                </div>
                <form role="form" id="groupForm" name="groupForm">
                    <div class="input-group">
                        <input type="text" class="form-control" id="groupName" placeholder="New group name...">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button" id="btnAddGroup">Create</button>
                        </span>
                    </div><!-- /input-group -->
                </form>

                <p>
                    <div id="listGroups"></div>
                </p>
            </div>
            <div class="col-md-9">

                <div class="panel-title">
                    Members
                </div>
                <div class="row">

                    <div class="col-md-6">
                        <form role="form" id="userForm" name="userForm">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Search group member...">
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="button" id="btnAddMember" disabled="disabled">Add</button>
                                </span>
                            </div><!-- /input-group -->
                        </form>
                    </div>
                </div>
                <div class="row">
                    <p>

                        <div class="col-md-12">
                            <div id="listUsers"></div>
                        </div>
                    </p>
                </div>
                <p>
                </p>
            </div>
        </div>
    </div>

</section>

@section scripts{
<script src="~/js/app/group-manager.module.js"></script>

<script>
    $(document).on('click', '#btnAddGroup', function (e) {
        e.preventDefault();
        var btn = $(this);
        var txtGroup = $('#groupName');
        var groupName = txtGroup.val();
        window.$toggleWorkingButton(btn);
        $.ajax({
            url: '/api/membership/creategroup/' + groupName,
            type: 'POST',
            success: function (data) {
                toastr.success('Created group ' + groupName);
                txtGroup.val('');
                listGroup.reload();

            },
            error: function (err) {
                console.log('err', err);
                toastr.error('Something went wrong: ' + err.message);
            }
        }).always(function () {
            window.$toggleWorkingButton(btn);
        });

    });
</script>
}