@{
    ViewBag.Title = "Group Manager";
}

<section>

    <div class="panel panel-primary">
        <div class="panel-heading"><span class="panel-title">Group Manager</span></div>
        <div class="panel-body">
            <div class="col-md-3">
                <div class="panel-title">
                    Groups
                </div>
                <form role="form" id="groupForm" name="groupForm">
                    <div class="input-group">
                        <input type="text" class="form-control" id="groupName" placeholder="New group name...">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button" id="btnAddGroup">Create</button>
                        </span>
                    </div><!-- /input-group -->
                </form>

                <p>
                    <div id="listGroups"></div>
                </p>
            </div>
            <div class="col-md-9">

                <div class="panel-title">
                    Members
                </div>
                <div class="row">

                    <div class="col-md-6">
                        <form role="form" id="userForm" name="userForm">
                            <input type="hidden" name="groupId" id="groupId" value="" />
                            <input type="hidden" name="identityGuid" id="identityGuid" value="" />
                            <div class="input-group">
                                <input type="text" class="form-control typeahead" placeholder="Search group member...">
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="button" id="btnAddGroupMember" disabled="disabled">Add</button>
                                </span>
                            </div><!-- /input-group -->
                        </form>
                    </div>
                </div>
                <div class="row">
                    <p>

                        <div class="col-md-12">
                            <div id="listUsers"></div>
                        </div>
                    </p>
                </div>
                <p>
                </p>
            </div>
        </div>
    </div>

</section>

@section scripts{
<script src="~/js/app/group-manager.module.min.js?v=1.0.0"></script>

<script>

    $('input.typeahead').typeahead({
        source: function(query, response) {
            return $.get('/api/membership/users/?username=' + query,
                { query: query },
                function(data) {
                    return response(data);
                });
        },
        items: 15,
        displayText: function(item) {
            return item.firstname + ' ' + item.lastname + ' (' + item.emailAddress + ')';
        },
        afterSelect: function(item) {
            this.$element[0].text = item.firstname + ' ' + item.lastname;
            $('#identityGuid').val(item.identityGuid);
        },
        delay: 100,
        minLength: 1,
        autoSelect: true
    }).bind('change blur',
        function(e) {
            if (e.currentTarget.value === undefined || e.currentTarget.value === '') {
                $('#btnAddGroupMember').prop('disabled', true);
            } else {
                $('#btnAddGroupMember').prop('disabled', false);
            }
        });

    $(document).on('click', '#btnAddGroup', function (e) {
        e.preventDefault();
        var btn = $(this);
        var txtGroup = $('#groupName');
        var groupName = txtGroup.val();
        window.$toggleWorkingButton(btn);
        $.ajax({
            url: '/api/membership/creategroup/' + groupName,
            type: 'POST',
            success: function (data) {
                toastr.success('Created group - ' + groupName);
                listGroup.reload();
                $('#groupName').val('');
            },
            error: function (err) {
                console.log('err', err);
                toastr.error('Something went wrong: ' + err.message);
            }
        }).always(function () {
            window.$toggleWorkingButton(btn);
        });

    });

    $(document).on('click', '#btnAddGroupMember',  function(e) {
            e.preventDefault();

            var url = '/api/membership/addgroupuser/';
            $.ajax({
                type: "POST",
                url: url,
                data: $('#userForm').serialize(),
                success: function(data) {
                    $('input.typeahead').val('');
                    $('#btnAddGroupMember').prop('disabled', true);
                    $("#listUsers").dxList('instance').reload(); 
                },
                error: function(err) {
                    toastr.error('Error adding group member');
                }
            }).always(function() {

            });

        });


</script>
}